In [1]:
import os
from os import listdir
from os.path import isfile, join

import numpy as np
import pandas as pd
from pandas_datareader import data as web
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

import datetime as dt
import mplfinance as mpf

import time

<h2>Default Values</h2>

In [2]:
PATH="C:/Users/Zak/Documents/Programming/Data_Science/Finance/finance_course/Stock_list/"
import default_values

<h2>Get Stock File Names in a List</h2>

In [3]:
# listdir is going to return all files in the directory, if the thing listed is a file, then we'll store its name in a "files" list
files = [x for x in listdir(PATH) if isfile (join(PATH,x))]

# and now remove the ".csv" extenstion
tickers = [os.path.splitext(x)[0] for x in files]

<h2>Create Dataframe from our list</h2>

In [4]:
stock_df = pd.DataFrame(tickers, columns = ['Ticker'])
stock_df

     Ticker
0        AA
1       AAL
2      AAME
3      AAOI
4      AAON
...     ...
2901   ZSAN
2902    ZTS
2903   ZUMZ
2904   ZYNE
2905   ZYXI

[2906 rows x 1 columns]

<h2>Function that returns a Dataframe from a CSV</h2>

In [5]:
def get_df_from_csv(ticker):
    try:
        df = pd.read_csv(PATH + ticker + '.csv')
        df = df[::-1]
    except FileNotFoundError:
        print("File Doesn't exist")
    else:
        return df

<h2>Function that saves a dataframe into a CSV</h2>

In [6]:
def save_df_to_csv(df, ticker):
    df.to_csv(PATH + ticker + '.csv')

<h2>Delete Unnamed Columns in CSV Files</h2>

In [7]:
def delete_unnamed_cols(df):
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    return df

<h2>Add Daily Return to Dataframe</h2>

In [8]:
def add_daily_return_to_df(df, ticker):
    df['daily_return'] = (df['Adj Close'] / df['Adj Close'].shift(1)) - 1
    df.to_csv(PATH + ticker + '.csv')
    return df

<h2>Returns ROI over Time</h2>

ROI is return revceived from investment

This amount does not include initial investment

EX : if you invest 100 and get 200 after 5 years,
ROI = [End_Value (200) - Initial_Value (100)] / Initial_Value = 1

the new total is Initial Investment + 1(ROI) * Initial_Investment = 200

In [9]:
def get_roi_defined_time(df):
    df['Date'] = pd.to_datetime(df['Date'])
    start_val = df[ df['Date'] == S_DATE_STR] ['Adj Close'][0]
    end_val = df[ df['Date'] == E_DATE_STR] ['Adj Close'][0]
    
    print("Initial Price:", start_val)
    print("Final Price:", end_val)
    
    roi = ((end_val - start_val) / start_val)
    return roi

<h2>Get Covariance</h2>

In [10]:
def get_cov(stock_df):
    mean = stock_df['Adj Close'].mean()
    sd = stock_df['Adj Close'].std()
    
    cov = sd / mean
    return cov

<h2>Test Functions</h2>

In [11]:

stock_a = get_df_from_csv(tickers[3])
stock_a = delete_unnamed_cols(stock_a)
stock_a

add_daily_return_to_df(stock_a,tickers[3])
stock_a

save_df_to_csv(stock_a, tickers[3])
stock_a

            Date  Adj Close  daily_return
1165  2017-01-03  23.100000           NaN
1164  2017-01-04  23.510000      0.017749
1163  2017-01-05  22.809999     -0.029775
1162  2017-01-06  22.420000     -0.017098
1161  2017-01-09  22.240000     -0.008029
...          ...        ...           ...
4     2021-08-13   7.040000      0.005714
3     2021-08-16   6.760000     -0.039773
2     2021-08-17   6.520000     -0.035503
1     2021-08-18   6.690000      0.026074
0     2021-08-19   6.520000     -0.025411

[1166 rows x 3 columns]

<h2>Add daily returns & clean up all files</h2>

In [12]:
tickers.pop(0)
for ticker in tickers:
    stock_df = get_df_from_csv(ticker)
    stock_df = delete_unnamed_cols(stock_df)
    add_daily_return_to_df(stock_df,ticker)

    save_df_to_csv(stock_df, ticker)
    
print("DONE")

DONE

<h2>Get Stock Return over time period & Covariance</h2>